
.wrapper{
    max-width: 597px;
    margin: 0 auto;
}

.html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
        
}
.header__group{
    margin-right: 17px;
}

.header__divider{
    margin-right: 17px;
}
.header__repair{
    margin-right: 20px;
}
.header__checkstatus{
    margin-right: 16px;
}

.header__hr{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 14.57%;
    bottom: 85.26%;
    background: #D9FFF5;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 14.57%;
    bottom: 85.26%;
    background: #D9FFF5;
}
.main__header__text{
    font-family: TT Lakes;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
}
button {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
  }



























@font-face {
    font-family: 'TT Lakes';
    src: url('/sitenew/fonts/TTLakes-Bold.woff');
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
        url('TTLakes-Italic.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Italic.woff') format('woff'),
        url('TTLakes-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/sitenew/fonts/TTLakes-Bold.woff');
    src: local('TT Lakes DemiBold Italic'), local('TTLakes-DemiBoldItalic'),
        url('TTLakes-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-DemiBoldItalic.woff') format('woff'),
        url('TTLakes-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-ExtraBoldItalic.eot');
    src: local('TT Lakes ExtraBold Italic'), local('TTLakes-ExtraBoldItalic'),
        url('TTLakes-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-ExtraBoldItalic.woff') format('woff'),
        url('TTLakes-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}