
body {
    background-color: #EFF6FF;
    margin: 0;
  }
.image {
    display: inline-block;
    position: sticky;
    
    }
    .logo {
        height: 50%;
        width:50%;
        
    
    position: relative;
    top: -1200px;
    left: 50px;
    }
    .text{
        color: #2A4A5C;
        font-family: 'Barlow', sans-serif;
      position: absolute;
      white-space:pre;
      line-height: 10%;
      top: 80px;
      left: 1000px;
      
    }
    #rectangle {
        position: absolute;
        width: 250px;
        height: 50px;
        background: #255A9B;
        left: 1050px;
        top: 190px;
    }
.textlinks{
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    position: absolute;
    white-space:pre;
    line-height: 20%;
    top: 200px;
    left: 1030px;
    font-size: 7px;
    
}
.facebook{
    position: relative;
    left: -30px;
    top: -15px; 
}
.linkedin{
    position: relative;
    left: 225px;
    top: -120px; 

}
#LinkedinRectangle {
    position: absolute;
    background: #0076B6;
    height: 50px;
    width: 250px;
    left: 1300px;
    top: 190px;
}

.hr {
    position: absolute;
    left: 1200px;
    top: 280px;
    width: 200px;
    font-size: 7px;
    
}
