.header__group{
    margin-right: 17px;
}

.header__divider{
    margin-right: 17px;
}
.header__repair{
    margin-right: 20px;
}
.header__checkstatus{
    margin-right: 16px;
}
button {
    border: 0;
    background: transparent;
  }
.header__hr{
    position: absolute;
    left: 1.25%;
    right: 97.5%;
    top: 18.76%;
    bottom: 74.54%;

    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}
.highlight{
    position: absolute;
    left: 1.25%;
    right: 97.5%;
    top: 18.76%;
    bottom: 74.54%;
    
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0); 
}













@font-face {
    font-family: 'TT Lakes';
    src: url('/sitenew/fonts/TTLakes-Bold.woff');
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
        url('TTLakes-Italic.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Italic.woff') format('woff'),
        url('TTLakes-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/sitenew/fonts/TTLakes-Bold.woff');
    src: local('TT Lakes DemiBold Italic'), local('TTLakes-DemiBoldItalic'),
        url('TTLakes-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-DemiBoldItalic.woff') format('woff'),
        url('TTLakes-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-ExtraBoldItalic.eot');
    src: local('TT Lakes ExtraBold Italic'), local('TTLakes-ExtraBoldItalic'),
        url('TTLakes-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-ExtraBoldItalic.woff') format('woff'),
        url('TTLakes-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}