@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.eot") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../fonts/TTLakes-Medium.eot") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* body {
  margin: 0;
  padding: 0;
  color: #cdcdcd;
  overflow: hidden;
  font-family: "TT Lakes";
} */

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 200px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.dropdown-menu.show {
  z-index: 99;
  visibility: visible;
  opacity: 1;
}
.dropdown-menu a:hover {
  display: block;
  padding: 10px;
  color: #000;
  opacity: 0.7;
  text-decoration: none;
}
