/* div {
  width: 50px;
  height: 50px;
}
.Леха {
  position: relative;
  top: 75px;
  background-color: aqua;
  z-index: 1;
}
.Леха2 {
  background-color: rebeccapurple;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Lexa2predok {
  position: relative;
  top: 300px;
  background-color: brown;
  height: 300px;
  width: 300px;
}

input:checked ~ .Lexa2predok .Леха2 {
  background-color: #ff009d;
  transition: 5s;
  transform: translateX(250px) rotate(135deg) translate(-250px, 50px) scale(2);
  box-shadow: 0 0 10px 10px green;
  background: linear-gradient(
    to bottom,
    white 0%,
    white 33%,
    blue 33%,
    blue 66%,
    red 66%,
    red 100%
  );
}
.olig {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: rebeccapurple;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
input:checked ~ .Lexa2predok .olig {
  background-color: #ff009d;
  transition: 5s;
  transform: translateY(-250px) rotate(-135deg) translate(150px, 150px) scale(2)
    rotate(-45deg) translateX(-70px);
  box-shadow: 0 0 10px 10px green;
  background: linear-gradient(to bottom, yellow 50%, blue 50%);
}
.rodjer {
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  opacity: 0;
}
input:checked ~ .Lexa2predok .olig .rodjer {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 5s;
} */
/* .hyi1 {
  width: 100px;
  height: 100px;
  background-color: red;
}
.hyi2 {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: darkkhaki;
} */
@keyframes ball-running {
  0% {
    transform: scale(0.5);
    transform: scale(0.7);
  }
  50% {
    filter: blur(10px);
  }
  100% {
    box-shadow: inset 10 0 0 10 rgba(0, 0, 0, 0);
    box-shadow: inset 10 0 0 10 rgba(0, 0, 0, 0);
    transform: scale(1) rotateX(-360deg);
    transform: rotateX(-320deg);
  }
}
.ball__container:hover {
}
.ball__container {
  position: absolute;
  width: 150px;
  height: 150px;
  animation-name: ball-running;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  bottom: 40%;
  right: 50%;
}
.redball {
  position: relative;
  top: 10px;
  width: 150px;
  height: 150px;
  border: 10px;
  background-color: red;
  border-radius: 25%;
}
.greenball {
  position: relative;
  top: 20px;
  width: 130px;
  height: 130px;
  border: 10px;
  background-color: green;
  border-radius: 25%;
}
.blueball {
  position: relative;
  top: 30px;
  width: 110px;
  height: 110px;
  border: 10px;
  background-color: blue;
  border-radius: 25%;
}
.whiteball {
  position: relative;
  top: 40px;
  width: 90px;
  height: 90px;
  border: 10px;
  background-color: wheat;
  border-radius: 25%;
}
