@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.eot") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../fonts/TTLakes-Medium.eot") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

button {
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
}
@media screen and (max-width: 1120px) {
  .brand__menu__image-bottom {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .brand__menu__image-center {
    display: none;
  }
}
.sidebar-brands__wrapper {
  padding-left: 40px;
}
.sidebar-brands__block__wrapper {
  display: flex;
  flex-direction: column;
}
.sidebar-brands__block_first {
  display: inline-flex;
}
.sidebar-brands__block_second {
}
.sidebar-brands__block_third {
}
.sidebar-brands__block_fourth {
}
