@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.eot") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../fonts/TTLakes-Medium.eot") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

button {
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
}
@media screen and (max-width: 1120px) {
  .brand__menu__image-bottom {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .brand__menu__image-center {
    display: none;
  }
}
.sidebar-brands__text,
.sidebar-brands__footer_button {
  font-family: "TT Lakes";
  padding-left: 32px;
}
.sidebar-brands__text {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  padding-top: 15px;
}
.sidebar-brands__footer_button {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  padding-bottom: 15px;
}
.sidebar-brands__block__wrapper {
  display: flex;
  padding-left: 52px;
}
.sidebar-brands__block_first {
}
.sidebar-brands__block_first-img,
.sidebar-brands__block_second,
.sidebar-brands__block_third,
.sidebar-brands__block_fourth {
  padding-top: 15px;
}
.go {
}
.sidebar-brands__block_third-border {
  display: flex;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}
.sidebar-brands__block_second-border {
  display: flex;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}
